@model EmployeeManagement.Models.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome back, @Model.Supervisor.FullName!</h1>
    <h2>Employee List</h2>

    <div class="row">
        <div class="col">Name</div>
        <div class="col">E-Mail</div>
        <div class="col">Phone Number</div>
        <div class="col">Hourly Rate</div>
        <div class="col"></div>
    </div>
    @foreach (var employee in Model.Employees)
    {
        <div class="row">
            <div class="col">@employee.FullName</div>
            <div class="col">@employee.Email</div>
            <div class="col">@employee.Phone</div>
            <div class="col">$@employee.HourlyRate</div>
            <div class="col">
                <button class="btn btn-primary">Edit</button>
            </div>
        </div>
        <br/>
    }
</div>